<h3><%= @toy.name%></h3>
<br>
<strong>Description: </strong><%= @toy.description%><br>
<strong>Date Added: </strong><%= @toy.date%><br>
<strong>Added By: </strong><%= @toy.user%>
<br>
<%= link_to("Return Home", home_path) %>
